body {
	background-color: #E6DDD0;
	/* background-color: #ffcc99 */
	font-family: Arial, Helvetica, sans-serif;
}


#divHeaderLogo {
	height: 110px;
	background-position: top left;
 	background-image: url("../views/images/waselogo.gif");
	background-repeat: no-repeat;
	repeat: no-repeat;
	margin: 0;
}
 
.submit {
	width:100px; 
	height:100px;
	font-size:24px;
}



